apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-secrets
  namespace: external-secrets
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::ACCOUNT_ID:role/dhakacart-dev-external-secrets-role"
  labels:
    app.kubernetes.io/name: external-secrets
    app.kubernetes.io/component: controller